[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pvcurveanalysis"]
	path = pvcurveanalysis
	url = https://github.com/cran/pvcurveanalysis
[submodule "pvldcurve"]
	path = pvldcurve
	url = https://github.com/cran/pvldcurve
